<!DOCTYPE html>
<html>
  <head>
    <title>PokemonApp</title>
	<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <ul class="nav">
      <li class="nav-item">
        <% if current_user.present? %>
          <%= current_user.email %>
        <% end %>
        
      </li>
      
     
      <li class="nav-item">
        <% if current_user.present? %>
        <%=  link_to 'cerrar sesión', destroy_user_session_path, method:  :delete %>
       
        <% end %>
          
      </li>
    </ul>

    <%= yield %>

  </body>
</html>
